:root {
  --color-primary: #0057E4;
  --color-secondary: #00EAFF;
  --text-primary: #FFFFFF;
  --text-secondary: #000000;
  --font-primary: 'Manrope', sans-serif;
  --font-secondary: 'La Belle Aurore', cursive;
}

body {
  background: url(backgrounds/background-desktop.svg) fixed center / cover no-repeat;
  font-family: var(--font-primary);
  font-size: var(--normal-font-size);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth !important;
}

::-webkit-scrollbar {
  height: 10px
}

::-webkit-scrollbar-track {
  background-color: var(--text-secondary)
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  border: solid 4px var(--text-secondary);
  background-color: var(--color-primary)
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-secondary)
}

::selection {
  background-color: var(--color-secondary);
  color: var(--text-secondary)
}

a {
  text-decoration: none !important;
  color: var(--text-primary) !important;
}

a:hover {
  color: var(--color-secondary) !important;
}

.social-media:hover {
  color: var(--color-secondary);
}

.tooltip {
  font-family: var(--font-primary) !important;
}

img,
a,
.nav-link,
.page-link {
  -webkit-user-drag: none;
  user-select: none;
}

h1,
h2,
h3 {
  font-weight: 800 !important;
}

h4,
h5,
h6,
nav,
footer {
  font-weight: 600 !important;
}

#assets,
img {
  max-width: 100% !important;
  -webkit-user-drag: none !important;
  user-select: none !important
}

#assets {
  max-width: 75% !important
}

.carousel-inner {
  max-width: 50% !important
}

.card-img-top,
.photo {
  height: 20vw;
  object-fit: contain;
}

.card-img-top:hover {
  transform: scale(1.1);
}

.technologies {
  max-width: 5% !important;
}

#logo {
  font-family: var(--font-secondary);
}

.font-secondary {
  max-width: 3rem !important
}

.pk {
  font-size: 1.5rem;
  border-bottom: transparent !important
}

.pk:hover {
  background-clip: text;
  -webkit-background-clip: text;
  animation: pk 2s ease-in-out infinite alternate;
  -webkit-animation: pk 2s ease-in-out infinite alternate;
  -moz-animation: pk 2s ease-in-out infinite alternate
}

@keyframes pk {
  from {
    text-shadow: 0 0 1px var(--color-secondary), 0 0 3px var(--color-secondary)
  }

  to {
    text-shadow: 0 0 3px var(--color-secondary), 0 0 5px var(--color-secondary)
  }
}

.nav-link {
  color: var(--text-primary) !important;
}

.nav-link:hover {
  color: var(--color-secondary) !important;
}

.nav-link.active {
  font-weight: 800 !important;
  color: var(--color-secondary) !important;
  border-bottom: solid 2px var(--color-secondary);
}

.navbar-toggler.collapsed .btn-close {
  display: none;
}

.navbar-toggler:not(.collapsed) .navbar-toggler-icon {
  display: inline;
}

span {
  font-size: xx-large;
}

.btn {
  border-radius: 5px !important;
  padding: .75rem 1rem !important;
  color: var(--text-primary) !important
}

.btn:hover {
  color: var(--text-primary) !important;
}

.btn:active {
  transform: scale(.9);
}

.btn-outline-primary {
  border: solid 2px var(--color-secondary) !important;
  color: var(--color-secondary) !important;
}

.btn-outline-primary:hover,
.btn-outline-primary:focus {
  box-shadow: none !important;
  filter: brightness(110%) !important;
  background-color: transparent !important;
  color: var(--color-secondary) !important;
}

.btn-outline-primary:active {
  box-shadow: 0 0 0 2px var(--color-secondary) !important;
}

hr {
  height: 2px !important;
  border-radius: 50px !important
}

section {
  padding: 3rem 0 !important
}

.card {
  padding: 1.5rem 2rem 2rem 2rem;
  border-radius: 15px !important;
  border: solid 2px #FFFFFF25 !important;
  background: #FFFFFF1A !important;
  backdrop-filter: blur(5px) !important;
  -webkit-backdrop-filter: blur(5px) !important;
}

.card-img-top {
  max-width: 70% !important;
}

.keahlian {
  border-radius: 7.5px !important;
  border: solid 2px #FFFFFF25 !important;
  background: #FFFFFF1A !important;
}

.kontak {
  border-radius: 7.5px !important;
  border-right: solid 10px var(--color-secondary) !important;
  background: #FFFFFF1A !important;
  backdrop-filter: blur(5px) !important;
  -webkit-backdrop-filter: blur(5px) !important;
}

.accordion-button.collapsed::after {
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23FFF'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.badge {
  padding: .75rem;
  font-size: medium;
}

#pills-web-application-tab.active,
#pills-mobile-application-tab.active,
#pills-desktop-application-tab.active {
  background-color: var(--color-secondary);
  color: var(--text-secondary) !important;
}

#pills-web-application-tab.nav-link:not(.active),
#pills-mobile-application-tab.nav-link:not(.active),
#pills-desktop-application-tab.nav-link:not(.active) {
  color: var(--color-secondary) !important;
}

.progress-bar {
  animation: animateBar 1s ease-in 1;
}

@keyframes animateBar {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

.Typewriter__wrapper {
  font-size: x-large;
}

.typeCursor {
  font-size: xx-large;
  font-weight: bolder;
  color: var(--color-secondary);
  animation: blink 1s infinite linear;
}

@keyframes blink {
  49.99% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

.pulse {
  animation: pulse 3s infinite linear;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--color-primary);
  }

  75% {
    box-shadow: 0 0 10px .5px var(--color-primary);
  }

  100% {
    box-shadow: 0 0 0 0 var(--color-primary);
  }
}

.scroll-down {
  animation: bounce 2s infinite;
}

.bounce {
  animation: bounce linear;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0);
  }
}

.hero-img {
  max-width: 80% !important;
}

.section-title:after {
  display: block;
  margin: 0 auto;
  padding-top: .75rem;
  width: 5%;
  content: "";
  border-bottom: 2px solid var(--text-primary);
}

.timeline-lines {
  max-width: 1% !important;
}

input[type="radio"] {
  -ms-transform: scale(2.75);
  -webkit-transform: scale(2.75);
  transform: scale(2.75);
}

.bi-arrow-up {
  font-size: 1.75rem !important;
  color: var(--text-primary) !important;
}

.bi-arrow-up:hover {
  color: var(--color-secondary) !important;
}

input,
textarea {
  border: solid 2px var(--text-secondary) !important;
  color: var(--text-primary) !important;
}

input:focus,
textarea:focus {
  border: solid 3px var(--color-secondary) !important;
  background-color: var(--text-secondary) !important;
  border-radius: 5px;
  box-shadow: none !important;
}

.caret {
  caret-color: var(--color-secondary);
}

.modal-backdrop {
  z-index: -1 !important;
}

.shoots {
  flex-flow: column nowrap;
}

.picture {
  flex: none;
}

.picture.x {
  flex-flow: row nowrap;
}

.x.mandatory-scroll-snapping {
  scroll-snap-type: x mandatory;
}

.picture>div {
  scroll-snap-align: center;
  flex: none;
}

.x.picture>div {
  width: 100%;
  padding-bottom: 2.5%;
}

table {
  border-collapse: separate !important;
  border-spacing: 0 !important;
}

th {
  background-color: var(--text-secondary) !important;
}

tr:first-child th:first-child {
  border-top-left-radius: 5px !important;
}

tr:first-child th:last-child {
  border-top-right-radius: 5px !important;
}

tr:last-child td:first-child {
  border-bottom-left-radius: 5px !important;
}

tr:last-child td:last-child {
  border-bottom-right-radius: 5px !important;
}

.benefits {
  list-style-type: '\2713';
}

.text-footer {
  font-size: large !important;
}

#topBtn:hover {
  cursor: pointer;
  color: var(--color-secondary);
}

@media screen and (max-width:768px) {
  body {
    background: url(backgrounds/background-mobile.svg) fixed center / cover no-repeat !important;
  }

  h2 {
    font-size: x-large !important
  }

  h4 {
    font-size: larger !important
  }

  .navbar-toggler-icon {
    font-size: x-large !important
  }

  .nav-link:hover {
    transform: none !important
  }

  span {
    font-size: large !important
  }

  .hero-text {
    margin: 2rem 0;
    text-align: center;
  }

  .hero-img {
    max-width: 60% !important;
  }

  .carousel-inner {
    max-width: 100% !important
  }

  form {
    margin: 1rem
  }

  .card-img-top {
    height: 100vw;
  }
}