:root {
  --color-primary: #0057E4 !important;
  --color-secondary: #00EAFF !important;
  --text-primary: #FFFFFF !important;
  --text-secondary: #000000 !important;
  --font-primary: 'Manrope', sans-serif !important;
  --font-secondary: 'Exo 2', sans-serif !important;
}

body {
  font-family: var(--font-primary) !important;
  font-size: var(--normal-font-size);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url(/public/images/background-desktop.svg) fixed center / cover no-repeat;
  scroll-behavior: smooth !important
}

::-webkit-scrollbar {
  height: 10px
}

::-webkit-scrollbar-track {
  background-color: var(--text-secondary)
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  border: solid 4px var(--text-secondary);
  background-color: var(--color-primary)
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-secondary)
}

::selection {
  background-color: var(--color-secondary);
  color: var(--text-secondary)
}

a {
  text-decoration: none !important;
  color: var(--text-primary) !important;
}

a:hover {
  color: var(--color-secondary) !important;
}

.social-media {
  color: var(--color-secondary);
  font-size: xx-large;
}

svg {
  margin: 0 .75rem 0 .8rem !important
}

h1,
h2,
h3 {
  font-family: var(--font-primary);
  font-weight: 800 !important;
}

h4,
h5,
h6 {
  font-family: var(--font-secondary);
  font-weight: 600;
}

nav,
footer {
  font-family: var(--font-secondary);
}

#assets,
img {
  max-width: 100% !important;
  -webkit-user-drag: none !important;
  user-select: none !important
}

#assets {
  max-width: 72.5% !important
}

.logo {
  max-width: 10% !important;
}

.font-secondary {
  max-width: 3rem !important
}

.pk {
  font-family: var(--font-secondary) !important;
  font-size: 1.5rem;
  border-bottom: transparent !important
}

.pk:hover {
  background-clip: text;
  -webkit-background-clip: text;
  animation: pk 2s ease-in-out infinite alternate;
  -webkit-animation: pk 2s ease-in-out infinite alternate;
  -moz-animation: pk 2s ease-in-out infinite alternate
}

@keyframes pk {
  from {
    text-shadow: 0 0 1px var(--color-secondary), 0 0 3px var(--color-secondary)
  }

  to {
    text-shadow: 0 0 3px var(--color-secondary), 0 0 5px var(--color-secondary)
  }
}

.nav-link {
  color: var(--text-primary) !important;
}

.nav-link:hover {
  color: var(--color-secondary) !important;
}

.nav-link.active {
  font-weight: 800 !important;
  color: var(--color-secondary) !important;
  border-bottom: solid 2px var(--color-secondary);
}

.navbar-toggler.collapsed .bi.bi-x-lg {
  display: none;
}

.navbar-toggler:not(.collapsed) .navbar-toggler-icon {
  display: inline;
}

span {
  font-size: xx-large;
}

.btn {
  border: 0 !important;
  outline: 0 !important;
  border-radius: 5px !important;
  padding: .75rem 1rem !important;
  background-color: var(--color-primary) !important;
  color: var(--text-primary) !important
}

.btn:hover {
  box-shadow: 0 0 10px .5px var(--color-primary);
  filter: brightness(110%);
}

.btn:active {
  transform: scale(.9);
}

hr {
  height: 2px !important;
  border-radius: 50px !important
}

section {
  padding: 3rem 0 !important
}

.card {
  border-radius: 15px !important;
  border: solid 2px #fffFFF25 !important;
  background: #fffFFF1A !important;
  backdrop-filter: blur(5px) !important;
  -webkit-backdrop-filter: blur(5px) !important
}

.hero {
  margin: 3.5rem 0
}

.typeCursor {
  font-size: larger;
  font-weight: bolder;
  color: var(--color-secondary);
  animation: blink 1s infinite linear;
}

@keyframes blink {
  49.99% {
    opacity: 1
  }

  50% {
    opacity: 0
  }

  100% {
    opacity: 0
  }
}

.cahyaa {
  max-width: 130% !important
}

.pulse {
  animation: pulse 3s infinite linear
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--color-primary)
  }

  75% {
    box-shadow: 0 0 10px .5px var(--color-primary)
  }

  100% {
    box-shadow: 0 0 0 0 var(--color-primary)
  }
}

.m-r-0 {
  margin-right: 0
}

.m-l-0 {
  margin-left: 0
}

.bi-arrow-up {
  font-size: 1.75rem !important;
  color: var(--text-primary) !important
}

.bi-arrow-up:hover {
  color: var(--color-secondary) !important
}

input,
textarea {
  border: solid 2px var(--text-secondary) !important;
  color: var(--text-primary) !important
}

input:focus,
textarea:focus {
  border: solid 3px var(--color-secondary) !important;
  background-color: var(--text-secondary) !important;
  border-radius: 5px;
  box-shadow: none !important
}

.caret {
  caret-color: var(--color-secondary)
}

.projects {
  margin-bottom: 2.75rem;
  padding: 1.75rem !important
}

.transparent {
  width: fit-content;
  margin-bottom: .5rem !important;
  padding: 0 !important;
  cursor: text !important;
  background: #00000000 !important
}

.transparent:hover {
  box-shadow: none !important
}

.transparent:active {
  transform: none !important
}

.category-time {
  padding-left: 0 !important
}

.tag {
  width: fit-content !important;
  margin: .75rem .25rem .5rem .25rem !important;
  padding: .25rem .75rem !important;
  border-radius: 5px !important
}

.skills-n {
  max-width: 90% !important
}

.skills-s {
  max-width: 70% !important
}

.skills-xs {
  max-width: 65% !important
}

.text-footer {
  font-size: large !important;
}

@media screen and (max-width:768px) {
  body {
    background: url(/public/images/background-mobile.svg) fixed center / cover no-repeat !important;
  }

  h2 {
    font-size: x-large !important
  }

  h4,
  summary {
    font-size: larger !important
  }

  .navbar-toggler {
    border: none !important
  }

  .navbar-toggler-icon {
    font-size: x-large !important
  }

  .nav-link:hover {
    transform: none !important
  }

  span {
    font-size: large !important
  }

  #assets {
    max-width: 70% !important;
    padding: .75rem 2rem 2rem 2rem
  }

  .hero {
    margin: 1rem 0 !important
  }

  .cahyaa {
    max-width: 100% !important;
    padding: 4rem 5rem 0 5rem !important
  }

  .about-me {
    margin: 2.5rem 3rem 0 0 !important
  }

  form {
    margin: 1rem
  }

  .marker {
    border: 0 !important;
    border-right: solid 10px var(--color-secondary) !important;
  }

  #contact-lists {
    text-align: start !important
  }

  .medsos {
    margin-left: .75rem
  }

  .tengah {
    width: 90% !important;
    margin: 2.25rem 2rem 2.25rem 1.25rem
  }

  .projects {
    width: 90% !important;
    margin: 2.5rem 1.25rem 2.5rem 1.25rem
  }
}